<header></header>
<section>
    <p>home works!</p>

    <label>
        Insira o endereço de entrega
        <input type="text" [formControl]="address">
    </label>

    <div *ngFor="let ads of addressList">
        <button (click)="searchDistributor(ads.position.lat, ads.position.lon)">
            <label>{{ads.address.streetName}} - {{ads.address.streetNumber}}, {{ads.address.municipality}} - {{ ads.address.countrySubdivision}} </label>
        </button>
    </div>

</section>
<footer></footer>
